@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
